<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FredriksMapApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8838C7F1C1C4F7B00D77207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8838C931C1C4F7C00D77207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8838C9E1C1C4F7C00D77207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
